h1{
font-size: 24px;
width:1024;
height:300;
padding: 15px;
margin; auto;
font-family: Courier new;
text-align:center;
text-decoration: underline;
background-color: grey;
}

p{
font-size: 20px;
font-family: Courier new;
width: 1024;
height: 300;
padding:auto;
}

body {
background-color: #87CEFA;
width: 1024;
height: 300;
padding:auto;
}

.shadowbox{
width: 15em;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444:
padding: 8px 12px;
background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
