.banner {
height:150px;
width: 100%;
background-color: #87CEFA;
}


h1{
font-size: 24px;
width: 1024;
height: 300;
padding: 15px;
font-family: Verdana (sans-serif);
text-align:center;
}

body{
background-color: #87CEFA;
}


.shadowbox{
width: 15em;
border: 1px solid #333;
box-shadow: 8px 8px 5px #444:
padding: 8px 12px;
background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}